@media screen and (min-width: 530px) {
  img#desktopimage {
    display: inline-block;
  }
  img#mobileimage {
  display: none;
  }

  h1 {
      margin-top: 0px;
  }

  article#intro p {
    padding: 5.66% 14.15%;
  }


}
